[Desktop Entry]
Version=1.0
Type=Application
Name=Media Downloader
GenericName=Media Downloader
Comment=Download videos and audio from online platforms
Comment[ar]=نزّل الفيديو والصوت من منصات الإنترنت
Comment[fr]=Télécharger des vidéos et de l'audio depuis des plateformes en ligne
Exec=media-downloader
Icon=io.github.hmidani_abdelilah.Media_Downloader
Terminal=false
Categories=AudioVideo;
StartupNotify=true
Keywords=video;audio;download;youtube;yt-dlp;
Keywords[ar]=فيديو;صوت;تحميل;يوتيوب;
Keywords[fr]=vidéo;audio;téléchargement;youtube;
